<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef='let state'>{{addCommas(state.name)}}</td>
    </ng-container>

    <ng-container matColumnDef="politicalLean">
        <th mat-header-cell *matHeaderCellDef>Political Lean</th>
        <td mat-cell *matCellDef='let state'>{{lean(state)}}</td>
    </ng-container>

    <ng-container matColumnDef="current">
        <th mat-header-cell *matHeaderCellDef >Current Pop</th>
        <td mat-cell *matCellDef='let state'>{{addCommas(state.popCurrent)}}{{growth(state.popCurrent, state.oldPop[0])}}</td>
    </ng-container>

    <ng-container matColumnDef="ten">
        <th mat-header-cell *matHeaderCellDef >2010 Pop</th>
        <td mat-cell *matCellDef='let state'>{{addCommas(state.oldPop[0])}}{{growth(state.oldPop[0], state.oldPop[1])}}</td>
    </ng-container>

    <ng-container matColumnDef="zero">
        <th mat-header-cell *matHeaderCellDef >2000 Pop</th>
        <td mat-cell *matCellDef='let state'>{{addCommas(state.oldPop[1])}}{{growth(state.oldPop[1], state.oldPop[2])}}</td>
    </ng-container>

    <ng-container matColumnDef="ninety">
        <th mat-header-cell *matHeaderCellDef >1990 Pop</th>
        <td mat-cell *matCellDef='let state'>{{addCommas(state.oldPop[2])}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
</table>
